@import url(themes.css);

* {
  font-family: "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;
  font-size: min(20pt, max(10pt, 3vw));
}

.textier * {
  font-size: min(24pt, max(12pt, 4vw));
}

.anorexic * {
  font-size: min(12pt, max(6pt, 2vw));
}

html {
  background-color: black;
}

body {
  min-height: calc(100vh - 2rem);
  min-width: 240px;
  max-width: 960px;
}

html {
  background-color: black;
}

.body {
  visibility: hidden;
}

.body.light {
  visibility: visible;
}

.body.dark {
  visibility: visible;
}

.body.holiday {
  visibility: visible;
}

.body {
  padding: 1rem;
  margin: 0;
}

.smaller {
  font-size: smaller;
}

.c4 {
  width: 4rem;
}

.toaster {
  background-color: var(
    --dialog-bg-color
  );
  color: var(--dialog-color);
  border: 1px solid var(--main-bg-color);
}

.toaster .error {
  color: var(--dialog-error-color);
  font-weight: bolder;
}

input.auto-label {
  display: block;
}

.width-100 {
  width: 100%;
}

.height-25 {
  height: 25vh;
}

.max-height-100 {
  max-height: 100vh;
}

.max-height-200 {
  max-height: 200vh;
}

.no-select {
  user-select: none;
}

.no-overflow {
  overflow: hidden;
}

.overflow {
  overflow: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.bottom {
  top: auto;
  bottom: 0;
}

.right {
  left: auto;
  right: 0;
}

.if-print-to-pdf {
  display: none !important;
}

.if-desktop {
  display: none !important;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(
    6,
    auto
  );
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
}

.body ::placeholder {
  opacity: 0.5;
}

.body a {
  color: var(--anchor-color);
  text-decoration: none;
  cursor: pointer;
}

.body .hidden {
  display: none;
}

.body .banner {
  background-image: url(../assets/bannerbush.png);
  background-size: cover;
  color: var(--banner-color);
  border-radius: 0.5em;
  font-weight: bolder;
  padding: 1em;
}

.body section.category {
  padding: 0;
}

.body div.section-title {
  width: 100%;
  min-height: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  vertical-align: middle;
  color: var(--title-color);
  background: var(--title-bg-color);
}

.body .margin {
  margin: 0.5em;
}

.body .border {
  border-width: 1px;
  border-style: var(--border-style);
  border-color: var(--border-color);
}

.rounded-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded {
  border-radius: 0.5rem;
}

.inline {
  display: inline;
}

.padding {
  padding: 0.5rem;
}

.netlify-identity-item {
  display: block;
  min-height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  line-height: 1rem;
  border: 1px solid black;
}

.body .button {
  background: var(--button-bg-color);
  border-color: var(
    --button-border-color
  );
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  color: var(--button-color);
  display: block;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  min-height: 2rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
}

.body hr {
  border: solid;
  border-width: 1px;
  width: 100%;
  color: var(--hr-color);
}

.form-label {
  padding-top: 0.5rem;
}

.grid-6 input {
  width: 100%;
  min-height: 2rem;
  border: 1px solid;
}

.form-label > input {
  width: 100%;
  min-height: 2rem;
}

.portfolio {
  overflow: hidden;
}

.portfolio img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.vspacer-2 {
  height: 2em;
}

.vspacer {
  height: 0.5em;
}

.vspacer-1 {
  height: 1em;
}

.centered {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.title {
  font-size: 20pt;
}

.subtitle {
  font-size: 12pt;
}

.italic {
  font-style: italic;
  font-weight: bolder;
}

.telephone {
  font-weight: bolder;
}

.pre {
  white-space: pre-wrap;
}
.comments {
  resize: none;
  min-height: 6rem;
}

.address {
  resize: none;
  height: 6rem;
}

.message {
  resize: none;
  padding: 1rem;
  min-width: 20rem;
  min-height: 20rem;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

form textarea {
  width: 100%;
}

.text {
  text-align: left;
}

.currency {
  text-align: right;
}

.quantity {
  text-align: right;
}

.netlify-identity-menu {
  list-style: none;
}

.column1 {
  width: 50vw;
  display: inline-block;
  text-align: left;
}

.column2 {
  width: 30vw;
  display: inline-block;
  text-align: right;
}

.page {
  width: 800px;
  height: auto;
}

.print {
  width: 800px !important;
  background-color: white !important;
  color: black !important;
  padding: 1rem;
}

.col-1 {
  grid-column: 1;
}
.col-1-2 {
  grid-column: 1/3;
}
.col-1-3 {
  grid-column: 1/4;
}
.col-1-4 {
  grid-column: 1/5;
}
.col-1-5 {
  grid-column: 1/6;
}
.col-1-last,
.col-1-6 {
  grid-column: 1/7;
}
.col-a {
  grid-column: -2;
}
.col-b {
  grid-column: -3;
}
.col-c {
  grid-column: -4;
}
.col-c-2 {
  grid-column: -4/-2;
}
.col-1-a {
  grid-column: 1/-1;
}
.col-1-b {
  grid-column: 1/-2;
}
.col-1-c {
  grid-column: 1/-3;
}
.col-2 {
  grid-column: 2;
}
.col-2-2 {
  grid-column: 2/4;
}
.col-2-3 {
  grid-column: 2/5;
}
.col-2-4 {
  grid-column: 2/6;
}
.col-2-a {
  grid-column: 2/-1;
}
.col-2-b {
  grid-column: 2/-2;
}
.col-2-last,
.col-2-5 {
  grid-column: 2/7;
}
.col-3 {
  grid-column: 3;
}
.col-3-2 {
  grid-column: 3/5;
}
.col-3-3 {
  grid-column: 3/6;
}
.col-3-4 {
  grid-column: 3/7;
}
.col-4 {
  grid-column: 4;
}
.col-4-2 {
  grid-column: 4/6;
}
.col-4-last,
.col-4-3 {
  grid-column: 4/7;
}
.col-5 {
  grid-column: 5;
}
.col-last-2,
.col-5-last,
.col-5-2 {
  grid-column: 5/7;
}

.col-6-last,
.col-last,
.col-6 {
  grid-column: 6;
}

.body .line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(
    --line-color
  );
}

.body input,
.body textarea {
  background: var(--input-bg-color);
  color: var(--input-color);
  border-color: var(
    --input-border-color
  );
}

.body input:focus,
.body textarea:focus {
  outline-color: var(
    --focus-outline-color
  );
}

.body input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.bold {
  font-weight: bold;
}

.tall {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
}

.flex .button {
  width: 8rem;
}

.wavy {
  text-decoration: underline wavy;
  text-decoration-color: var(
    --wavy-decoration-color
  );
}

.date {
  white-space: nowrap;
}

.taxrate {
  text-align: right;
}

.taxrate::after {
  content: " %";
}

@media (max-width: 639px) {
  .col-7 {
    display: none;
  }
}

@media (min-width: 640px) {
  .grid-6 {
    grid-template-columns: repeat(
      7,
      auto
    );
  }
  .col-1-last,
  .col-1-7 {
    grid-column: 1/8;
  }
  .col-2-last,
  .col-2-6 {
    grid-column: 2/8;
  }
  .col-4-last,
  .col-4-4 {
    grid-column: 4/8;
  }
  .col-5-last,
  .col-5-3 {
    grid-column: 5/8;
  }
  .col-last-2,
  .col-6-last,
  .col-6-7 {
    grid-column: 6/8;
  }
  .col-7,
  .col-last {
    grid-column: 7;
  }
}

@media (max-width: 959px) {
  .col-8 {
    display: none;
  }
}

@media (min-width: 960px) {
  .col-8 {
    grid-column: 8;
  }
}

@media print {
  * {
    font-size: 1rem;
    transition: none !important;
    text-shadow: none;
    background: white;
    color: black;
  }

  a {
    color: black;
    text-decoration: none;
  }

  ::placeholder {
    color: transparent;
  }

  #invoice-form {
    display: none;
  }
}
