* {
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  max-width: 40rem;
  width: calc(100vw - 3rem);
  border: 1.5rem solid transparent;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: black;
}

body.holiday {
  background-color: rgb(0, 135, 62);
  color: rgba(253, 244, 220, 0.9);
  text-shadow: 0px 0px 1px black;
}

.hidden {
  display: none;
}

.banner {
  background-image: url(../assets/bannerbush.PNG);
  background-size: cover;
  color: rgba(253, 244, 220, 0.9);
  border-radius: 0.5em;
  font-size: 16pt;
  font-weight: bolder;
}

section.category {
  padding: 0;
}

div.section-title {
  padding: 0.5rem;
  color: white;
  background: black;
  border-radius: 0;
}

.toolbar .button {
  display: inline-block;
}

.netlify-identity-item,
.button {
  display: block;
  min-height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: bold;
  line-height: 1rem;
  border: 1px solid black;
}

.holiday .button {
  color: rgba(253, 244, 220, 0.9);
  background: rgb(214, 0, 28);
}

.holiday hr {
  border: solid;
  border-width: 1px;
  color: rgb(214, 0, 28);
}

.form-label {
  width: calc(100% - 2rem);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.grid-6 input,
.form-label > input {
  width: 100%;
}

.portfolio {
  overflow: hidden;
}

.portfolio img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.vspacer-2 {
  height: 2em;
}

.vspacer {
  height: 0.5em;
}

.vspacer-1 {
  height: 1em;
}

.centered {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.title {
  font-size: 20pt;
}

.contact {
  font-size: 14pt;
}

.subtitle {
  font-size: 12pt;
}

.italic {
  font-style: italic;
  font-weight: bolder;
}

.telephone {
  font-weight: bolder;
  font-size: 16pt;
}

.comments {
  resize: none;
  min-height: 6rem;
}

.address {
  resize: none;
  height: 6rem;
}

.message {
  resize: none;
  padding: 1rem;
  min-width: 20rem;
  min-height: 20rem;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

form textarea {
  width: 100%;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.text {
  text-align: left;
}

.currency {
  text-align: right;
}

.quantity {
  text-align: right;
}

.netlify-identity-menu {
  list-style: none;
}

.holiday a {
  color: rgba(253, 244, 220, 0.9);
  text-decoration: none;
}

.column1 {
  width: 50vw;
  display: inline-block;
  text-align: left;
}

.column2 {
  width: 30vw;
  display: inline-block;
  text-align: right;
}

.page {
  width: 800px;
  height: auto;
}

.print {
  width: 800px !important;
  background-color: white !important;
  color: black !important;
  padding: 1rem;
}
.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 0.5em;
}

.col-1 {
  grid-column: 1;
}
.col-1-2 {
  grid-column: 1/3;
}
.col-1-3 {
  grid-column: 1/4;
}
.col-1-6 {
  grid-column: 1/7;
}
.col-2 {
  grid-column: 2;
}
.col-2-2 {
  grid-column: 2/4;
}
.col-2-5 {
  grid-column: 2/7;
}
.col-3 {
  grid-column: 3;
}
.col-3-2 {
  grid-column: 3/5;
}
.col-3-3 {
  grid-column: 3/6;
}
.col-3-4 {
  grid-column: 3/7;
}
.col-4 {
  grid-column: 4;
}
.col-4-2 {
  grid-column: 4/6;
}
.col-4-3 {
  grid-column: 4/7;
}
.col-5 {
  grid-column: 5;
}
.col-5-2 {
  grid-column: 5/7;
}
.col-6 {
  grid-column: 6;
}

.line {
  border-bottom: 1px solid black;
}

.bold {
  font-family: Arial black;
}

.tall {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (max-width: 459px) {
}

@media print {
  * {
    transition: none !important;
    text-shadow: none;
    font-family: "Times New Roman", Times, serif;
  }

  #invoice-form {
    display: none;
  }
}
